// style declarations for website footer

#site-footer {
    width: 100%;
    background-color: #26de81;
    height: $footer-height;

    a {
        color: #107d90;
    }
}

#footer-content {
    padding: 12px 0;
    @include page-center();
    font-size: 18px;
}

#footer-right {
    float: right;
}

#footer-left {
    a {
        font-weight: 400;
    }
}

@media only screen and (max-width: 450px) {
    #footer-content {
        padding: 12px 0;
        @include page-center();
        font-size: 14px;
    }
}
