// style declarations for website header


#site-header {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 25px;
}

#header-img {
    width: 100px;
    height: 100px;
}

#header-link {
    margin-top: 10px;

    a {
        color: $bright-green;
        transition: color 400ms;
        font-size: $title-size;
        text-decoration: none;
        font-weight: 500;
    }

    a:hover {
        color: #26874B;
    }
}

#header-desc {
    border-top: 1px solid $bright-green;
    border-bottom: 1px solid $bright-green;
    padding: 14px;
    margin-top: 20px;
    font-size: 26px;
    font-weight: 300;
    color: $bright-green;
}
