// style declarations for website header


#site-header {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 25px;
}

#header-img {
    height: 128px;
    transition: transform 500ms;

    &:hover {
        transform: scale(1.5);
    }
}

#header-link {
    margin-top: 10px;

    a {
        color: $bright-green;
        transition: color $color-change;
        font-size: $title-size;
        text-decoration: none;
        font-weight: 500;
    }

    a:hover {
        color: #26874B;
    }
}

#header-desc-border {
    border-top: 1px solid lighten($bright-green, 50%);
    // border-top: 1px solid $bright-green;
    margin-top: -16px;
}

#header-desc {
    margin: 0 auto;
    margin-top: 15px;

    span {
        padding: 0 15px;
        background-color: $bg-color;
        color: $bright-green;
        font-weight: 300;
        font-size: 26px;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 600px) {
    #header-desc-border {
        margin: 0 auto;
        margin-top: 20px;
        width: 50%;

    }

    #header-desc {
        span {
            font-size: 22px;
            padding: 0;
            white-space: normal;
        }
    }
}
