// style declarations for blog posts

.post-header {
    margin-bottom: 15px;
}

.post-title {
    font-size: $post-title-size;
}

.post-meta {
    font-size: 17px;
}

.post-content {
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 300;
    margin: 0 10px 0px 10px;
    line-height: 29px;

    h2 {
        margin: 55px 0px -10px 0px;
        font-size: 24px;
        font-weight: 900;

        &:before {
            content: "## ";
            color: #aaa;
        }
    }

    h1 {
        margin: 65px 0px -5px 0px;
        font-size: 30px;
        font-weight: 900;

        &:before {
            content: "# ";
            color: #aaa;
        }
    }

    ul, ol {
        margin-left: 30px;
    }

    img {
        width: 100%;
        border-radius: 15px;
        border: 2px solid darken($grey-bg-color, 20);
        margin: -10px 0;
    }

    img + em {
        margin-top: 10px;
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        color: darken($grey-bg-color, 60);
        font-style: normal;
        text-align: center;
        font-size: 16px;
    }

    p {
        margin: 30px 0px;

        & > small {
            font-size: 14px;
            display: block;
            line-height: 25px;
        }
    }

    hr {
        border: none;
        border-top: 1px solid darken($grey-bg-color, 20);
        margin: 0 20%;
    }

    code {
        font-family: $mono-font;
        background-color: $grey-bg-color;
        border-radius: 5px;
        border: 1px solid darken($grey-bg-color, 15%);
        padding: 2px 4px;
        white-space: nowrap;
    }

    pre {
        border: 1px solid darken($grey-bg-color, 15%);
        border-radius: 5px;
        padding: 2px 5px;
        margin: -7px 0px;
        overflow: auto;
        & > code {
            white-space: pre;
            font-family: $mono-font;
            // padding: 2px 4px;
            border: none;
            background: none;
        }
    }

    a {
        transition: box-shadow 400ms, background-color 400ms;
        border-radius: 5px;

        &:hover {
            box-shadow: 0 0 0px 5px $grey-bg-color;
            background-color: $grey-bg-color;
        }
    }

    blockquote {
        color: #888;
        border-left: 3px solid #aaa47a;
        padding-left: 13px;
    }
}

.post-bottom {
    width: 50px;
    margin: 70px auto 60px auto;
    display: block;
    opacity: 0.7;
}

.tldr {
    border: 2px solid darken($grey-bg-color, 10);
    border-radius: 5px;
    margin: 30px 50px;
    padding: 10px;
    font-size: 16px;

    h1 {
        font-family: "Fira Sans";
        color: darken($link-color, 3);
        font-size: 22px;
        text-align: center;
        margin-bottom: 22px;
        margin-top: 8px;

        &:before {
            content: "";
        }
    }
}

.comments-container {
    max-height: 250px;
    min-height: 250px;
    position: relative;
    overflow: hidden;

    .comments-gradient {
        position: absolute;
        top: 130px;
        height: 120px;
        background: linear-gradient(
            to bottom,
            transparent,
            rgba($bg-color, 0.4),
            rgba($bg-color, 0.9),
            $bg-color
        );
        z-index: 10;
        width: 100%;

        button {
            background:none!important;
            border:none;
            padding:0!important;
            font: inherit;
            cursor: pointer;

            color: $link-color;
            text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            font-size: 20pt;
            position: absolute;
            bottom: 5px;
            width: 100%;
            height: 55px;

            &:focus {
                outline: none;
            }

            &:hover {
                color: lighten($link-color, 8%);
            }
        }
    }
}

@media only screen and (min-width: 850px) {
    .post-content {
        p {
            text-align: justify;
            hyphens: auto;
        }
    }
}

@media only screen and (max-width: 600px) {
    .post-title {
        font-size: 27px;
    }

    .post-meta {
        font-size: 14px;
    }


    .post-content {
        margin: 0 5px;
        font-size: 15px;
        line-height: 25px;

        p {
            margin: 20px 0px;

            code {
                white-space: normal;
            }
        }

        h1 {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .tldr {
        margin: 20px 15px;
        padding: 3px;
        font-size: 14px;

        ul {
            margin-left: 20px;
        }

        h1 {
            font-size: 19px;
            margin-bottom: 15px;
        }
    }
}
